# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from Kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications, we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

- Understand what factors make a used car more or less expensive. 
- Provide a recommendation to the used car dealoers on what factors in a used car are valued by customers

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

df = pd.read_csv('data/vehicles.csv')
df.head()
df
# df.describe()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
0,7222695916,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,7218891961,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,7221797935,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,7222270760,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,7210384030,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,1N4AA6AV6KC367801,fwd,NaN,sedan,NaN,wy
426876,7301591187,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,7JR102FKXLG042696,fwd,NaN,sedan,red,wy
426877,7301591147,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,1GYFZFR46LF088296,NaN,NaN,hatchback,white,wy
426878,7301591140,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,58ABK1GG4JU103853,fwd,NaN,sedan,silver,wy
426879,7301591129,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,WBA4J1C58KBM14708,rwd,NaN,coupe,NaN,wy

- The data contains 426880 rows of car data with 19 columns 
- There are a lot of NaN values.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [5]:
df.dropna(inplace=True)
df.info()
df.value_counts()

for col in df.columns:
    print(col)
    print(df[col].unique())
    print(df[col].nunique())
    print('\n')

df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 34868 entries, 126 to 426836
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            34868 non-null  int64
 1   region        34868 non-null  object
 2   price         34868 non-null  int64
 3   year          34868 non-null  float64
 4   manufacturer  34868 non-null  object
 5   model         34868 non-null  object
 6   condition     34868 non-null  object
 7   cylinders     34868 non-null  object
 8   fuel          34868 non-null  object
 9   odometer      34868 non-null  float64
 10  title_status  34868 non-null  object
 11  transmission  34868 non-null  object
 12  VIN           34868 non-null  object
 13  drive         34868 non-null  object
 14  size          34868 non-null  object
 15  type          34868 non-null  object
 16  paint_color   34868 non-null  object
 17  state         34868 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 5.1+ MB
id
[7305672709 7305672266 7305672252 ... 7303112347 7302338378 7302301268]
34868


region
['auburn' 'birmingham' 'dothan' 'florence / muscle shoals'
 'gadsden-anniston' 'huntsville / decatur' 'mobile' 'montgomery'
 'tuscaloosa' 'anchorage / mat-su' 'kenai peninsula' 'southeast alaska'
 'flagstaff / sedona' 'mohave county' 'phoenix' 'prescott' 'show low'
 'tucson' 'yuma' 'fayetteville' 'fort smith' 'jonesboro' 'little rock'
 'texarkana' 'bakersfield' 'chico' 'fresno / madera' 'gold country'
 'humboldt county' 'imperial county' 'inland empire' 'los angeles'
 'mendocino county' 'merced' 'modesto' 'monterey bay' 'orange county'
 'palm springs' 'redding' 'reno / tahoe' 'sacramento' 'san diego'
 'san luis obispo' 'santa barbara' 'santa maria' 'SF bay area'
 'siskiyou county' 'stockton' 'susanville' 'ventura county'
 'visalia-tulare' 'yuba-sutter' 'boulder' 'colorado springs' 'denver'
 'eastern CO' 'fort collins / north CO' 'high rockies' 'pueblo'
 'western slope' 'eastern CT' 'hartford' 'new haven' 'northwest CT'
 'washington, DC' 'delaware' 'daytona beach' 'florida keys'
 'ft myers / SW florida' 'gainesville' 'heartland florida' 'jacksonville'
 'lakeland' 'north central FL' 'ocala' 'okaloosa / walton' 'orlando'
 'panama city' 'pensacola' 'sarasota-bradenton' 'south florida'
 'space coast' 'st augustine' 'tallahassee' 'tampa bay area'
 'treasure coast' 'albany' 'athens' 'atlanta' 'augusta' 'brunswick'
 'columbus' 'macon / warner robins' 'northwest GA' 'savannah / hinesville'
 'statesboro' 'valdosta' 'hawaii' 'boise' 'east idaho'
 'lewiston / clarkston' 'pullman / moscow' "spokane / coeur d'alene"
 'twin falls' 'bloomington-normal' 'champaign urbana' 'chicago'
 'la salle co' 'mattoon-charleston' 'peoria' 'quad cities, IA/IL'
 'rockford' 'southern illinois' 'springfield' 'st louis, MO' 'bloomington'
 'evansville' 'fort wayne' 'indianapolis' 'kokomo'
 'lafayette / west lafayette' 'muncie / anderson' 'south bend / michiana'
 'terre haute' 'ames' 'cedar rapids' 'des moines' 'dubuque' 'fort dodge'
 'iowa city' 'mason city' 'omaha / council bluffs' 'sioux city'
 'southeast IA' 'waterloo / cedar falls' 'kansas city, MO' 'lawrence'
 'manhattan' 'northwest KS' 'salina' 'southeast KS' 'southwest KS'
 'topeka' 'wichita' 'bowling green' 'eastern kentucky'
 'huntington-ashland' 'lexington' 'louisville' 'owensboro' 'western KY'
 'baton rouge' 'central louisiana' 'houma' 'lafayette' 'lake charles'
 'monroe' 'new orleans' 'shreveport' 'maine' 'annapolis' 'baltimore'
 'cumberland valley' 'eastern shore' 'frederick' 'southern maryland'
 'western maryland' 'boston' 'cape cod / islands' 'south coast'
 'western massachusetts' 'worcester / central MA' 'ann arbor'
 'battle creek' 'central michigan' 'detroit metro' 'flint' 'grand rapids'
 'holland' 'jackson' 'kalamazoo' 'lansing' 'muskegon' 'northern michigan'
 'port huron' 'saginaw-midland-baycity' 'southwest michigan' 'the thumb'
 'upper peninsula' 'bemidji' 'brainerd' 'duluth / superior'
 'fargo / moorhead' 'mankato' 'minneapolis / st paul' 'rochester'
 'southwest MN' 'st cloud' 'gulfport / biloxi' 'hattiesburg' 'meridian'
 'north mississippi' 'columbia / jeff city' 'joplin' 'kirksville'
 'lake of the ozarks' 'southeast missouri' 'st joseph' 'st louis'
 'billings' 'bozeman' 'butte' 'eastern montana' 'great falls' 'helena'
 'kalispell' 'missoula' 'asheville' 'boone' 'charlotte' 'eastern NC'
 'greensboro' 'hickory / lenoir' 'outer banks' 'raleigh / durham / CH'
 'wilmington' 'winston-salem' 'grand island' 'lincoln' 'north platte'
 'scottsbluff / panhandle' 'elko' 'las vegas' 'central NJ' 'jersey shore'
 'north jersey' 'south jersey' 'albuquerque' 'clovis / portales'
 'farmington' 'las cruces' 'roswell / carlsbad' 'santa fe / taos'
 'binghamton' 'buffalo' 'catskills' 'chautauqua' 'elmira-corning'
 'finger lakes' 'glens falls' 'hudson valley' 'ithaca' 'long island'
 'new york city' 'plattsburgh-adirondacks' 'potsdam-canton-massena'
 'syracuse' 'twin tiers NY/PA' 'utica-rome-oneida' 'watertown'
 'new hampshire' 'bismarck' 'grand forks' 'north dakota' 'akron / canton'
 'ashtabula' 'cincinnati' 'cleveland' 'dayton / springfield'
 'lima / findlay' 'mansfield' 'northern panhandle' 'parkersburg-marietta'
 'sandusky' 'toledo' 'youngstown' 'zanesville / cambridge' 'lawton'
 'northwest OK' 'oklahoma city' 'stillwater' 'texoma' 'tulsa' 'bend'
 'corvallis/albany' 'east oregon' 'eugene' 'klamath falls'
 'medford-ashland' 'oregon coast' 'portland' 'roseburg' 'salem'
 'altoona-johnstown' 'erie' 'harrisburg' 'lancaster' 'lehigh valley'
 'meadville' 'philadelphia' 'pittsburgh' 'poconos' 'reading'
 'scranton / wilkes-barre' 'state college' 'williamsport' 'york'
 'rhode island' 'charleston' 'columbia' 'florence' 'greenville / upstate'
 'hilton head' 'myrtle beach' 'northeast SD' 'pierre / central SD'
 'rapid city / west SD' 'sioux falls / SE SD' 'south dakota' 'chattanooga'
 'clarksville' 'cookeville' 'knoxville' 'memphis' 'nashville' 'tri-cities'
 'abilene' 'amarillo' 'austin' 'beaumont / port arthur' 'brownsville'
 'college station' 'corpus christi' 'dallas / fort worth'
 'deep east texas' 'del rio / eagle pass' 'el paso' 'galveston' 'houston'
 'killeen / temple / ft hood' 'laredo' 'lubbock' 'mcallen / edinburg'
 'odessa / midland' 'san angelo' 'san antonio' 'san marcos' 'southwest TX'
 'tyler / east TX' 'victoria' 'waco' 'wichita falls' 'logan'
 'ogden-clearfield' 'provo / orem' 'salt lake city' 'st george' 'vermont'
 'charlottesville' 'danville' 'fredericksburg' 'harrisonburg' 'lynchburg'
 'new river valley' 'norfolk / hampton roads' 'richmond' 'roanoke'
 'southwest VA' 'winchester' 'bellingham' 'kennewick-pasco-richland'
 'moses lake' 'olympic peninsula' 'seattle-tacoma' 'skagit / island / SJI'
 'wenatchee' 'yakima' 'eastern panhandle' 'morgantown' 'southern WV'
 'appleton-oshkosh-FDL' 'eau claire' 'green bay' 'janesville'
 'kenosha-racine' 'la crosse' 'madison' 'milwaukee' 'northern WI'
 'sheboygan' 'wausau' 'wyoming']
392


price
[    0  4000  2500 ... 12589 11589  4790]
3136


year
[2018. 2019. 2002. 1995. 2008. 2011. 1972. 2001. 2007. 2021. 2017. 2013.
 2014. 2015. 2010. 2004. 2020. 2016. 2006. 2009. 2005. 1998. 2012. 2000.
 2003. 1991. 1994. 1999. 1951. 1996. 1997. 1966. 1989. 1985. 1987. 1930.
 1979. 1992. 1977. 1990. 1984. 1968. 1929. 1976. 1970. 1981. 1971. 1978.
 1986. 1980. 1955. 1969. 1950. 1993. 1956. 1982. 1965. 1975. 1953. 1973.
 1963. 1940. 1932. 1952. 1962. 1933. 1961. 1988. 1928. 1964. 1938. 1957.
 1983. 1967. 1949. 1947. 1936. 1959. 2022. 1974. 1927. 1934. 1937. 1958.
 1941. 1905. 1954. 1939. 1931.]
89


manufacturer
['chevrolet' 'toyota' 'bmw' 'mazda' 'ford' 'mercedes-benz' 'ferrari'
 'lexus' 'audi' 'mitsubishi' 'infiniti' 'nissan' 'volkswagen' 'honda'
 'ram' 'hyundai' 'fiat' 'cadillac' 'jeep' 'gmc' 'jaguar' 'volvo' 'dodge'
 'kia' 'chrysler' 'subaru' 'acura' 'mini' 'buick' 'rover' 'lincoln'
 'porsche' 'saturn' 'harley-davidson' 'pontiac' 'mercury' 'tesla'
 'alfa-romeo' 'datsun' 'land rover' 'aston-martin']
41


model
['express cargo van' 'echo' '525i' ... 'f150, xlt' 'f150, platinum'
 'cruze, 2lt']
5139


condition
['like new' 'excellent' 'fair' 'good' 'new' 'salvage']
6


cylinders
['6 cylinders' '4 cylinders' '8 cylinders' '5 cylinders' '10 cylinders'
 '3 cylinders' 'other' '12 cylinders']
8


fuel
['gas' 'hybrid' 'diesel' 'other' 'electric']
5


odometer
[ 68472.  69125.  66555. ... 176261. 172511.  69550.]
16689


title_status
['clean' 'rebuilt' 'salvage' 'lien' 'missing' 'parts only']
6


transmission
['automatic' 'manual' 'other']
3


VIN
['1GCWGAFP8J1309579' '1GCWGAFP4K1214373' '1GCWGAFPXJ1337903' ...
 '4S3BL616557201459' '2HGES15535H620534' 'SAJGX2749VCOO8376']
21938


drive
['rwd' 'fwd' '4wd']
3


size
['full-size' 'compact' 'mid-size' 'sub-compact']
4


type
['van' 'sedan' 'convertible' 'truck' 'coupe' 'SUV' 'hatchback' 'wagon'
 'pickup' 'other' 'mini-van' 'offroad' 'bus']
13


paint_color
['white' 'blue' 'silver' 'red' 'grey' 'black' 'brown' 'green' 'custom'
 'yellow' 'orange' 'purple']
12


state
['al' 'ak' 'az' 'ar' 'ca' 'co' 'ct' 'dc' 'de' 'fl' 'ga' 'hi' 'id' 'il'
 'in' 'ia' 'ks' 'ky' 'la' 'me' 'md' 'ma' 'mi' 'mn' 'ms' 'mo' 'mt' 'nc'
 'ne' 'nv' 'nj' 'nm' 'ny' 'nh' 'nd' 'oh' 'ok' 'or' 'pa' 'ri' 'sc' 'sd'
 'tn' 'tx' 'ut' 'vt' 'va' 'wa' 'wv' 'wi' 'wy']
51

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
126,7305672709,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,68472.0,clean,automatic,1GCWGAFP8J1309579,rwd,full-size,van,white,al
127,7305672266,auburn,0,2019.0,chevrolet,express cargo van,like new,6 cylinders,gas,69125.0,clean,automatic,1GCWGAFP4K1214373,rwd,full-size,van,white,al
128,7305672252,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,66555.0,clean,automatic,1GCWGAFPXJ1337903,rwd,full-size,van,white,al
215,7316482063,birmingham,4000,2002.0,toyota,echo,excellent,4 cylinders,gas,155000.0,clean,automatic,JTDBT123520243495,fwd,compact,sedan,blue,al
219,7316429417,birmingham,2500,1995.0,bmw,525i,fair,6 cylinders,gas,110661.0,clean,automatic,WBAHD6322SGK86772,rwd,mid-size,sedan,white,al

- Out of 18 columns there are 4 numerical columns and 14 categorical columns. 
- There are total 12 different paint colors 
- There is data from all the states of USA 
- After dropping non-null values there were 34868 entries.

### Data Preparation

After our initial exploration and fine-tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

Preparation Steps 
- Drop Null Values
- Transform Non-Numerical columns into Numberical Columns or Use Encodings 
- Determine the most useful columns via the Correlation Plots 
- Drop the columns that have no impact on price of the car(like IDs, VIN numbers etc.,). Draw the price to column value relationship plots. 
- Remove rows that have price values set to 0.

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

Modeling Steps 
- Split the data into Train and Test Data sets 
- Create Pipline models applying transformations to create polynomial regression models

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high-quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight into drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

- Calculate the minimum MSE of the models created in modeling phase. 
- For the model with least MSE predict values on the test data and observe.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine-tuning their inventory.

- Create a report based on the data from the previous step.